.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: -20px;

}

.logo {
    width: 150px;
    height: auto;
}

.logo-text {
    /* position: fixed;
    top: 12%;
    left: 5%; */
    font-family: "Dancing Script", cursive; /* 筆記体フォント */
    font-size: 24px; /* 文字サイズ */
    color: #333; /* 文字色 */
    margin-top: -30px; /* ロゴとの間隔 */
    margin-left: 10px;
}