/* サイドバー */
.sidebar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 200px;
    height: 100vh;

    padding: 1rem;
    box-sizing: border-box;
    background-color: #b7cfebfd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.sidebar.collapsed {
  transform: translateX(-200px);
}

/* ×ボタン */
.toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  z-index: 1000;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.toggle-button:hover {
  color: #000;
}

.sidebar.collapsed .toggle-button {
  display: none;
}

/* 「カテゴリーの文字」 */
.sidebar h2 {
  margin-top: 0px;
  font-size: 20px;
}



/* グループ一覧 */
.group-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}
/* 各グループ名 */
.group-list li {
  margin: 1rem 0;
  cursor: pointer;
}

.group-list li:hover {
  text-decoration: underline;
}

/* 設定・アカウント */
.settings {
  margin-top: auto;
  cursor: pointer;
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.2s ease;
}

.logout-button:hover {
    background-color: #d32f2f;
}
  