/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 200px;
  width: calc(100vw - 200px);
  height: 80px;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 1rem; /* ボタン間の間隔 */
  background-color: #ddd;

  border-bottom: 1.5px solid #89a0ab;
}

.header.expanded {
  left: 0; /* 画面いっぱいに広げる */
  width: 100vw;
}

/* 新しいメモボタン */
#newMemoBtn {
  background-color: #848984;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
}

#newMemoBtn:hover {
  background-color: #45a049;
}

/* 検索ボックス */
.search-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5rem;
  margin-left: auto; /* 右寄せ */
}

.search-box input {
  border: none;
  outline: none;
  font-size: 1rem;
}

/* ヘッダー内の開閉ボタン（サイドバーが閉じたとき用） */
.toggle-button-header {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-radius: 4px;
}

.toggle-button-header:hover {
  background-color: #555;
}

/* 初期状態では非表示 */
.hidden {
  display: none;
}